<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>MAST</title>
</head>
<body>
	<div class="PrintWrapperLandScape">
		<div class="personalDetails-wrap">
			<div class="topInfo">
				<div class="row-fluid">
					<div class="span4">
						<p class="type1">
							<strong>Région de :<span class="text-org" id="region_1"></span></strong>
						</p>
						<p class="type1">
							<strong>Province de : <span class="text-org"
								id="province_1"> </span></strong>
						</p>
						<p class="type2">
							<strong>Commune de : <span class="text-org commune_1">
							</span></strong>
						</p>
						<p class="type2">
							<strong>Village de : <span class="text-org village_1">
							</span></strong>
						</p>

					</div>
					<div class="span4">
						<p class="text-center">
							<img src="resources/images/viewer/commune.jpg" />
						</p>
					</div>
					<div class="span4">
						<p class="type1">
							<strong>Burkina Faso</strong>
						</p>
						<p class="type1">
							<strong>********</strong>
						</p>
						<p class="type1">Unité-Progrès-Justice</p>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<p class="type3">
							Formulaire de demande de constatation de possession foncière
							rurale à titre <span class="text-org" id="application_type1"></span>
						</p>
						<p class="text-center">
							<em>(Art 39 de la loi N°034-2009/AN du 16 juin 2009 portant
								régime foncier rural)</em>
						</p>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
					<p style="text-align:center;">
						<span> N° <span  class="application_no1"> </span></span>
			<!-- 			<ul class="border-blocks">
							<li><span class="village_1"></span>Village</li>
							<li><span id="villageno_1"></span>Numéro village</li>
							<li><span>-</span>-</li>
							<li><span style="border-right: 2px solid #000;"
								class="application_no1"></span>Numéro demande</li>

						</ul> -->
						<span>du <span class="text-org application_date1"></span></span>
						</p>
					</div>
				</div>
			</div>

			<div class="border-wrap ">

				<div class="row-fluid">
					<div class="span8">

						<div class="bottom-separator">
							<p class="type1">
								<em>Premier volet </em>
							</p>
							<p class="type1">
								Nature de la demande : <span class="text-org noa_1"></span>
							</p>
						</div>
						<div class="bottom-separator">
							<p class="type1">
								Etat civil du <span class="text-org" id="mandataire_1"></span>
							</p>
							<p class="type1">
								Nom : <span class="text-blues person_lastname1"></span>
							</p>
							<p class="type1">
								Prénom(s) : <span class="text-blues person_firstname1"></span>
							</p>
							<p class="type1">
								Date et lieu de naissance : <span class="text-blues"
									id="birthdate1"><span id="birthplace1"></span></span>
							</p>
							<p class="type1">
								Profession : <span class="text-blues" id="profession_1"></span>
							</p>
							<p class="type1">
								Domicile : <span class="text-blues village_1"></span>
							</p>
							<p class="type1">
								Références de la pièce d’identité :&nbsp;<span class="text-blues"
									id="refrenceId_1"></span>&nbsp;du &nbsp;<span class="text-blues"
									id="establishDate_1"></span>&nbsp;<span class="text-blues"
									id="id_origin1"></span>
							</p>
							<p class="type1">
								Père : <span class="text-blues" id="father_name1"></span>
							</p>
							<p class="type1">
								Mère : <span class="text-blues" id="mother_name1"></span>
							</p>
							<p class="type1">
								Situation matrimoniale : <span class="text-org"
									id="marital_status1"></span>
							</p>
						</div>
						<div class="bottom-separator">
							<p class="type1">
								Nature des pouvoirs du requérant : <span class="text-org"
									id="nop1"> </span>
							</p>
							<p class="type1">
								date et lieu de délivrance : <span class="text-org"
									id="mandate_issuanceDate1"><span id="mandate_location1"></span></span>
							</p>
						</div>
						<div class="bottom-separator">
							<p class="type1">Description et désignation du terrain</p>
							<p class="type1">
								Situation : <span class="text-blues parcel_location1"></span>
							</p>
							<p class="type1">
								Superficie : <span class="text-blues area_1"></span> ha
							</p>
							<p class="type2">
								Limites <em>(indiquer les possesseurs voisins ou les
									limites naturelles)</em>
							</p>

							<p class="type2">
								Nord : <span class="text-blues neighbour_north1"></span>
							</p>
							<p class="type2">
								Est : <span class="text-blues neighbour_east1"></span>
							</p>
							<p class="type2">
								Sud : <span class="text-blues neighbour_south1"></span>
							</p>
							<p class="type1">
								Ouest : <span class="text-blues neighbour_west1"></span>
							</p>
						</div>
						<p class="type1">
							Fait à <span class="text-blues commune_1"></span>, le <span
								class="text-org application_date1"> </span>
						</p><br>
						<p class="type2">Signature ou empreinte digitale du requérant
						</p><br>
						<p class="type1">Signature ou empreinte digitale du témoin</p>

					</div>
					<div class="span4" style="margin-left: 0px;">
						<div class="v-separator-left clearfix">
							<p class="type1">
								<em>Deuxième volet</em>
							</p>
							<p class="type1">Récépissé de la demande </p>
							<p class="type1">
								N° <strong class="text-org application_no1"></strong>
							</p>
							<p class="type2">
								(<span class="text-org noa_1"></span>)
							</p>
							<p class="type2">Formulée</p>
							<p class="type2">
								Par M./Mme… <span class="text-blues person_lastname1"></span> <span
									class="text-blues person_firstname1"> </span>
							</p>
							<p class="type2">
								Habitant à : <span class="text-blues village_1"></span>
							</p>
							<p class="type1">
								Aux fins de faire constater ses droits de possession foncière
								rurale conformément à la loi N°034-2009/AN du 16 juin 2009 sur
								un terrain sis à : <span class="text-blues parcel_location1"></span>
							</p>
							<p class="type1">
								D’une superficie approximative de : <span
									class="text-blues area_1"></span> ha
							</p>
							<p class="type1">Limites</p>
							<p class="type1">
								Nord : <span class="text-blues neighbour_north1"></span>
							</p>
							<p class="type1">
								Est : <span class="text-blues neighbour_east1"> </span>
							</p>
							<p class="type1">
								Sud : <span class="text-blues neighbour_south1"></span>
							</p>
							<p class="type2">
								Ouest : <span class="text-blues neighbour_west1"></span>
							</p>
							<p class="type2">
								Fait à <span class="text-blues commune_1"></span> Le <span
									class="text-org application_date1"></span>
							</p>
							<p class="type1" style="margin-bottom:20px;">
							<br><br>
								<em>(Signature du secrétaire de la commission foncière
									villageoise et cachet s’il en existe)</em>
									
							</p>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
	<div>
		<button class="print_form" class="btn v-top-20" style="float: right"
			onclick="printForm();">Print</button>

	</div>

</body>
</html>