<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>MAST</title>
</head>
<body>
	<div class="PrintWrapperLandScape">
		<div class="personalDetails-wrap">
			<div class="topInfo8">
				<div class="row-fluid">
					<div class="span4">
						<p class="type1 text-left">
							<strong>Région de : <span class="text-org" id="region8"></span></strong>
						</p>
						<p class="type1 text-left">
							<strong>Province de : <span class="text-org"
								id="province8"> </span></strong>
						</p>
						<p class="type2 text-left">
							<strong>Commune de : <span class="text-org commune8">
							</span></strong>
						</p>


					</div>
					<div class="span4">
						<div class="text-center commune_logo">
							<!-- <img src="resources/images/viewer/commune.jpg" /> -->
						</div>
					</div>
					<div class="span4">
						<p class="type1">
							<strong>Burkina Faso</strong>
						</p>
						<p class="type1">
							<strong>********</strong>
						</p>
						<p class="type1">Unité-Progrès-Justice</p>
					</div>
				</div>
				<!-- <div class="row-fluid">
					<div class="span12">
						<p class="type3">
							<strong>Attestation de possession foncière rurale à titre</strong> <span
								class="text-org">collectif </span>
						</p>

					</div>
				</div> -->
				<!-- <div class="row-fluid">
					<div class="span12">
						<span style="float: left;"> N°</span>
						<ul class="border-blocks">
							<li><span class="village8"></span>Village</li>
							<li><span class="village_no8"></span>Numéro village</li>
					
							<li><span style="border-right: 2px solid #000;" id="apfrno8"></span>Numéro
								demande</li>

						</ul>
						<span>du <span class="text-org apfrdate8"></span></span>
					</div>
						<div class="span12">
						<p style="text-align:center;">
						<span> N° <span  id="apfrno8"> </span> </span>
					
						<ul class="border-blocks">
							<li><span class="village_1"></span>Village</li>
							<li><span id="villageno_1"></span>Numéro village</li>
							<li><span>-</span>-</li>
							<li><span style="border-right: 2px solid #000;"
								class="application_no1"></span>Numéro demande</li>

						</ul>
						<span>du <span class="text-org apfrdate8"></span></span>
							</p>
					</div>
				</div>
				<br>

				<p style="font-style: italic;padding: 0px 50px;">
					(Art. 22 et 23 du Décret N°2010-402
					PRES/PM/MAHRH/MRA/MECV/MEF/MATD/ MJ du 29 <br> juillet 2010
					portant procédure de constatation de possession foncière rurale des
					particuliers)
				</p> -->
				
				<div  class="print_footer2" >
		   <h2 >Attestation de possession foncière rurale à titre collectif</h2>
		        <!--  <h2 >N° null-00047 du 29/05/2017</h2> -->
		        <h2>
						<span> N° <span  id="apfrno_8"> </span> </span>
						<span>du <span class="text-org apfrdate_8"></span></span>
			    </h2>
							
							
		<p >(Art. 20 du Décret N°2010-402 PRES/PM/MAHRH/MRA/MECV/MEF/MATD/ MJ du
						29 juillet 2010 portant</p> <p> procédure de constatation de
						possession foncière rurale des particuliers)</p>
		</div>	
			</div>
			<!-- <p style="display: none">
				(Art. 20 du Décret N°2010-402 PRES/PM/MAHRH/MRA/MECV/MEF/MATD/ MJ du
				29 juillet 2010 portant <br> procédure de constatation de
				possession foncière rurale des particuliers)
			</p>
 -->
			<p><strong>1. Identification de la famille</strong></p>
			<p>
				Nom :<span class="familyname8 form8space"></span>
			</p>
			<p>
				Adresse :<span class="form8space" id="familyaddress8"></span>
			</p>

			<p><strong>2. Identification du mandataire</strong></p>
			<p>
				Nom :<span class="form8space person_lastname8"></span>
			</p>
			<p>
				Prénom(s) :<span class="form8space person_firstname8"></span>
			</p>
			<p>
				Date et lieu de naissance :<span class="form8space" id="birthdate8"></span>&nbsp;à &nbsp; <span
					id="birthplace8"></span>
			</p>
			<p>
				Sexe :<span class="form8space" id="gender8"></span>
			</p>
			<p>
				Références de la pièce d’identité :<span class="form8space" id="refrenceId8"></span> du <span class="form8space" id="Idestablishmentdate8"></span>
			</p>
			<!-- <p>
				Date et lieu de naissance :<span class="form8space" id="Idestablishmentdate8"></span>à
				<span id="IdestablishmentPlace8"></span>
			</p> -->
			<p>
				Profession :<span class="form8space" id="person_profession8"></span>
			</p>
			<p>
				Domicile :<span class="form8space village8" ></span>
			</p>

			<p >
				<strong>3. Reférences du mandat :</strong> Mandat du <span class="form8space" id="mandateDate" style="font-weight:bold;"></span> du Village de <span style="font-weight:bold;" class="form8space village8"></span>
			</p>
			<p style="font-weight: bold;">4. Description du terrain</p>
			<p>
				Terrain sis à :<span class="form8space commune8"></span><!-- <span id="village8"></span> -->
			</p>

			<p>
				Superficie :<span class="form8space" id="area8"></span> ha
			</p>
		
			<p>Limites :</p>
			<p>
				o &nbsp; Nord :<span class="form8space" id="neighnour_north8"></span>
			</p>
			<p>
				o &nbsp; Est :<span class="form8space" id="neighbour_east8"></span>
			</p>
			<p>
				o &nbsp; Sud :<span class="form8space" id="neighbour_south8"></span>
			</p>
			<p>
				o &nbsp; Ouest :<span class="form8space" id="neighbour_west8"></span>
			</p>

			<p style="font-weight: bold;">5. Utilisation actuelle du terrain
				:</p>
			<div id="existing_use8"></div>
			<p>
				o &nbsp; Autre (s) : <span class="form8space" id="other_use8"></span>
			</p>

            <br>
			<p>
				Nous soussigné (e)  <span class="form8space" id="mayor_name8"></span> Maire de la Commune de  <span class="commune8 form8space"></span> ,<br> 
				Vu la demande n° <span id="applicationno8" class="form8space"></span> en date du <span
					class="applicationdate8 form8space">&nbsp;</span> et le procès-verbal de constatation
				 contradictoire de possession foncière rurale n°
				<span id="pvnumber8" class="form8space"></span> en date du <span id="rightsDate8 form8space"></span>
				Délivrons la présente attestation au nom de la famille <span
					class="person_lastname8 form8space"></span> <span
					class="person_firstname8 form8space"></span>  à  M./Mme <span
					class="person_lastname8 form8space"></span><span
					class="person_firstname8 form8space"></span> dûment mandaté(e) pour servir et
				valoir ce que de droit.
			</p>
			<p style="font-weight: bold; font-style: italic;">
				<u>Liste des membres de la famille paraphée et annexée </u>
			</p>
			<p style="float: right;">
				Fait à <span  class="form8space"  id="apfr_commune"></span> le <span class="form8space apfrdate8"></span>
			</p>
			<br> <br> <br><br> 

			<p style="float: right; font-weight: bold;">
				<span id="mayor_lastname"></span> <span id="mayor_firstname"></span>
				
			</p>

	
		

		</div>
		
	  <br> <br>
		<p style="font-weight: bold; font-style: italic;">
			<u>Liste des membres de la famille (paraphée et annexée) </u>
		</p>
	<br>	
	<table class="amendbeforeAfterTable">
				<tr>
					<th>N°</th>
					<th>Nom et Prénom(s)</th>
					<th>Références de la pièce d’identité</th>
					<th>Adresse</th>
					<th>Signature ou empreinte digitale</th>
				</tr>
	
	
				<tbody id="APFRTableRowData">
				</tbody>
	
			</table>
	
		

  <br>		 
 <button class="print_form" class="btn v-top-20" style="float: right"
			onclick="printForm();">Print</button>

</div>

	
	
		

	
	<script id="APFR_template" type="text/x-jquery-tmpl">
 <tr>                                                                        
  <td>
	${sno}
  </td>
  
  <td>
  ${name}
  </td>
<td>
${idcardref}
</td>
<td>
${address}
</td>
<td>
</td>
 </tr>
</script>
</body>
</html>