<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>MAST</title>


</head>
<body>
	<div class="PrintWrapperLandScape">
		<div class="personalDetails-wrap">
			<div class="topInfo">
				<div class="row-fluid">
					<div class="span4">
						<p class="type1 text-left">
							<strong>Région de : <span class="text-org" id="region_5"></span></strong>
						</p>
						<p class="type1 text-left">
							<strong>Province de : <span class="text-org"
								id="province_5"> </span></strong>
						</p>
						<p class="type2 text-left">
							<strong>Commune de : <span class="text-org commune_5">
							</span></strong>
						</p>


					</div>
					<div class="span4">
						<div class="text-center commune_logo">
							<!-- <img src="resources/images/viewer/commune.jpg" /> -->
						</div>
					</div>
					<div class="span4">
						<p class="type1">
							<strong>Burkina Faso</strong>
						</p>
						<p class="type1">
							<strong>********</strong>
						</p>
						<p class="type1">Unité-Progrès-Justice</p>
					</div>
				</div>
				
				 <div  class="print_footer2" >
		   <h2 >Attestation de possession foncière rurale à titre individuel</h2>
		       <!--   <h2 >N° null-00047 du 29/05/2017</h2> -->
		       <h2 >
						<span> N° <span  class="apfrno_5"> </span></span>
		
						<span>du <span class="text-org" id="apfrdate_5"></span> </span>
						
			  </h2>
		<p >(Art. 20 du Décret N°2010-402 PRES/PM/MAHRH/MRA/MECV/MEF/MATD/ MJ du
						29 juillet 2010 portant</p> <p> procédure de constatation de
						possession foncière rurale des particuliers)</p>
		</div>	
				<!-- <div class="row-fluid">
					<div class="span12">
						<p class="type3">
							<strong>Attestation de possession foncière rurale à titre </strong> <span
								class="text-org">individuel</span>
						</p>
						
					</div>
				</div>

				<div class="row-fluid">
										
					<div class="span12">
					<p style="text-align:center;">
						<span> N° <span  class="apfrno5"> </span></span>
		
						<span>du <span class="text-org" id="apfrdate5"></span> </span>
						</p>
					</div>
				</div> -->

			</div>
			<!-- <p>
				(Art. 20 du Décret N°2010-402 PRES/PM/MAHRH/MRA/MECV/MEF/MATD/ MJ du
				29 juillet 2010 portant <br> procédure de constatation de
				possession foncière rurale des particuliers)
			</p> -->
			<br>
			<p style="font-weight: bold;">1. Identification du titulaire</p>
			<p>
				Nom : <span id="lastname_5" class="form8space"></span>
			</p>
			<p>
				Prénom(s) : <span id="firstname_5" class="form8space"></span>
			</p>
			<p>
				Sexe : <span id="gender_5" class="form8space"></span>
			</p>
			<p>
				Références de la pièce d’identité : <span id="idcard5" class="form8space"></span> du <span
					id="birthdate5" class="form8space"></span> <!-- à <span id="birthplace5" class="form8space"></span> -->
			</p>
			<p>
				Profession : <span id="profession5" class="form8space"></span>
			</p>
			<p>
				Domicile : <span class="village_5 form8space"></span>
			</p>
			<br>
			<!-- <p>Boudry……………………………………………………….</p> -->


			<p style="font-weight: bold;">2. Description du terrain</p>
			<p>
				Terrain sis à :<span id="location5" class="form8space"></span>
			</p>
			<!-- <p>Boudry………………………………….………</p> -->
			<p>
				Section <span id="section5" class="form8space"></span>, Ilot <span id="lot5" class="form8space"></span> ,
				Parcelle <span id="parcel_no5" class="form8space"></span> , Superficie : <span
					id="area5"></span> ha.
			</p>
			<br>
			<p>Limites :</p>
			<p>
				o &nbsp; Nord: <span id="nr-north5" class="form8space"></span>
			</p>
			<p>
				o &nbsp; Est: <span id="nr-east5" class="form8space"></span>
			</p>
			<p>
				o &nbsp; Sud: <span id="nr-south5" class="form8space"></span>
			</p>
			<p>
				o &nbsp; Ouest: <span id="nr-west5" class="form8space"></span>
			</p>
<br>
			<p style="font-weight: bold;">3. Utilisation actuelle du terrain
				:</p>

			<!-- 	<p>o &nbsp; <span id="existing_use5"></span></p>
			<p>o &nbsp; autre (s)  Artisanat -->
			<div id="existing_use_div5" class="form8space"></div>
			<p>
				o &nbsp; Autre (s) : <span id="other_use5" class="form8space"></span>
			</p>
<br>
			<p style="text-align:justify;">
				Nous soussigné (e)  <span  class="form8space mayor5"></span>
				
			
			<!-- <p>PARE</p> -->
			
				Maire de la Commune de  <span class="commune_5 form8space"></span>, <br>
				Vu la demande n° <span class="villageno_5 form8space"> </span><span
					class="apfrno5 form8space"></span> en date du <span
					class="application_date5 form8space"></span> et le  procès-verbal de
				constatation contradictoire de possession foncière rurale 
				n° <span class="villageno_5 form8space"></span><span id="pv_no5" class="form8space"></span> en
				date du <span id="recognition_date5" class="form8space"></span> délivrons la présente
				attestation pour servir et valoir ce que de droit.
			</p>
			<p style="float: right;">
				Fait à <span class="commune_5 form8space"></span>&nbsp;le  <span id="apfrdate5" class="form8space"></span> 
			</p>
				<br> <br> <br>

			<p style="float: right; font-weight: bold;"> <span class="mayor5"></span></p>
			<input type="hidden" id="usin_key"/>
			
			
 
		</div>
		<br>
		
 <button class="print_form" class="btn v-top-20" style="float: right"
			onclick="printAPFR_Ind_Form();">Print</button>

	</div>
				


		

	

</body>
</html>