<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>MAST</title>
</head>
<body>
	<div class="PrintWrapperLandScape">
		<div class="personalDetails-wrap">
			<div class="topInfo">
				<div class="row-fluid">
					<div class="span4">
						<p class="type1 text-left">
							<strong>Région de : <span class="text-org" id="region3">
							</span></strong>
						</p>
						<p class="type1 text-left">
							<strong>Province de : <span class="text-org"
								id="province3"> </span></strong>
						</p>
						<p class="type2 text-left">
							<strong>Commune de : <span class="text-org commune3"></span></strong>
						</p>
						<p class="type2 text-left">
							<strong>Village de : <span class="text-org village3"></span></strong>
						</p>

					</div>
					<div class="span4">
						<div class="text-center commune_logo">
							<!-- <img src="resources/images/viewer/commune.jpg" /> -->
						</div>
					</div>
					<div class="span4">
						<p class="type1">
							<strong>Burkina Faso</strong>
						</p>
						<p class="type1">
							<strong>********</strong>
						</p>
						<p class="type1">Unité-Progrès-Justice</p>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<p class="type3" style="font-weight: bold;">AVIS AU PUBLIC</p>
						<p
							style="font-weight: bold; text-align: center; font-style: italic;">(Publicité
							de la demande de constatation de possession foncière rurale)</p>
						<p style="font-size: 10px; font-style: italic;">
							(Articles 8 à 11 du Décret N°2010-402
							PRES/PM/MAHRH/MRA/MECV/MEF/MATD/ MJ du 29 juillet 2010 portant
							procédure de constatation de <br /> possession foncière rurale
							des particuliers)
						</p>

					</div>
				</div>
				<div class="row-fluid">
					<p>
						Sur une demande de constatation de possession foncière rurale
						d’une terre située dans le village de <span
							class="village3 text-blues"></span>, le/la président(e) de la
						commission foncière villageoise dudit village informe la
						population que M./Mme <span id="person_firstname3" class="text-blues"></span>&nbsp; <span
							id="person_lastname3" class="text-blues"></span> &nbsp; domicilié (e) à <span
							class="text-blues village3"></span> né (e) le <span
							id="person_birthdate3" class="text-blues"></span> à <span id="person_birthplace3" class="text-blues"></span>,
						agissant 1) &nbsp; <span id="choice_ind3" class="text-blues"></span> 2) &nbsp; <span
							id="choice_col3" class="text-blues"></span> a demandé la constatation contradictoire
						de la possession foncière rurale sur une terre Section <span
							id="section_no3" class="text-blues"></span>, Ilot <span id="lotno3" class="text-blues"></span>,
						Parcelle <span id="parcel_no3" class="text-blues"></span>, Superficie : <span
							id="area3" class="text-blues"></span>&nbsp;ha.
					</p>
					<p>Le terrain objet de la demande est actuellement à usage</p>

					<!-- <p>Ÿ  &nbsp; <span id="existing_use3"></span> </p> -->
					<div id="existing_use-div"></div>
					<p>
					<p>
						o &nbsp; Autre (s) : <span id="other_use3" class="text-blues"></span>
					</p>

					<p>Il est limité :</p>
					<p>
						o &nbsp; Au nord par :&nbsp;<span id="neighbour_north3" class="text-blues"></span>
					</p>
					<p>
						o &nbsp; A l’est par :&nbsp;<span id="neighbour_south3" class="text-blues"></span>
					</p>
					<p>
						o &nbsp; Au sud par :&nbsp;<span id="neighbour_east3" class="text-blues"></span>
					</p>
					<p>
						o &nbsp; A l’ouest par :&nbsp;<span id="neighbour_west3" class="text-blues"></span>
					</p>

					<p>
						Toute personne pouvant faire valoir des droits sur le terrain
						objet de la demande ou ayant connaissance de faits de nature à
						affecter ou à remettre en cause la constatation des droits du
						demandeur est invitée à se manifester auprès du service foncier de
						la commune de <span class="commune3 text-blues"></span>
					</p>
					<br>
					<p>
						Les réclamations, oppositions et réserves sont reçues tous les
						jours et heures ouvrables de <strong>08:00</strong> heures à <strong>15:00</strong> heures
						jusqu’au <span id="public_notice_enddate3" class="text-blues"></span>
					</p>
					<p>
						La constatation publique contradictoire sur le terrain aura lieu
						le <span id="extended_date" class="text-blues"></span> <strong>10:00 </strong> heures à l’issue de
						laquelle aucune opposition ou réserve n’est recevable devant la
						commission foncière villageoise.
					</p>

					<p style="float: right;">
						Fait à <span class="commune3 text-blues"></span>&nbsp;<span
							class="village3 text-blues"></span>, le ......................
					</p>
					<br> <br>
					<p style="float: right; font-weight: bold;">
						(Nom, prénom(s)  signature et cachet  du/de la président(e) ou du/de la secrétaire de la CFV) 
					</p>
				</div>
			</div>
		</div>
	</div>
<span id="flag" style="display: none"></span>
	<div>
		<button class="print_form" class="btn v-top-20" style="float: right"
			onclick="printNotice();">Print</button>

	</div>

</body>
</html>