<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>MAST</title>
</head>
<body>
	<div class="PrintWrapperLandScape">
	<h2 style="margin-top: 20px; margin-bottom: 20px;">
				<strong> Land Records Attribute Table (Individual) </strong>
			</h2>
	<h3 style="margin-top: 20px; margin-bottom: 20px;">
				<strong> Plan </strong>
			</h3>
	<div style="min-height: 285px;">
							<div id="areamap_url" class="CCROMap-tablemap">
								<img src="resources/images/compass.png" class="map-compass" />
								
							</div>
						</div>
		<div class="personalDetails-wrap">
			
	<h3 style="margin-top: 20px; margin-bottom: 20px;">
				<strong> Land Records table </strong>
			</h3>
				
			<div class="border-wrap " style="padding: 10px">
				<table class="amendbeforeAfterTable">
					<tr>
						<td class="langchange" key="Region">Region</td>
						<td><span id="region_1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Province">Province</td>
						<td><span id="province_1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Commune">Commune</td>

						<td><span class="commune_1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Village">Village</td>

						<td><span class="village_1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Village_Number">Village Number</td>

						<td><span id="villageno_1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Application_Number">Application Number</td>

						<td><span class="application_no1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Nature_of_Application">Nature of Application</td>

						<td><span class="noa_1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="First_Name">First Name</td>

						<td><span class="person_firstname1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Last_Name">Last Name</td>

						<td><span class="person_lastname1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Date_of_Birth">Date of Birth</td>

						<td><span id="birthdate1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Place_of_Birth">Place of Birth</td>

						<td><span id="birthplace1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Profession">Profession</td>

						<td><span id="profession_1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Address">Address</td>

						<td><span class="person_address1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Refrence_of_ID">Refrence of ID Card</td>

						<td><span id="refrenceId_1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Father_Name">Father Name</td>

						<td><span id="father_name1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Mother_Name">Mother Name</td>

						<td><span id="mother_name1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Marital_Status">Marital Status</td>

						<td><span id="marital_status1">></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Nature_of_Power">Nature of Powers</td>

						<td><span id="nop1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Application_Issue_Date">Issuance Date</td>

						<td><span class="application_date1"></span></td>
					</tr>
					<tr>
						<td class="langchange" key="Location">Location</td>

						<td><span class="parcel_location1"></span></td>
					</tr>

					<tr>
						<td class="langchange" key="Area_of_Plot">Area</td>

						<td><span class="area_1">></span></td>
					</tr>

					<tr>
						<td class="langchange" key="Neighbour_North">Neighbor North</td>

						<td><span class="neighbour_north1">></span></td>
					</tr>

					<tr>
						<td class="langchange" key="Neighbour_South">Neighbor South</td>

						<td><span class="neighbour_south1">></span></td>
					</tr>

					<tr>
						<td class="langchange" key="Neighbour_East">Neighbor East</td>

						<td><span class="neighbour_east1">></span></td>
					</tr>

					<tr>
						<td class="langchange" key="Neighbour_West">Neighbor West</td>

						<td><span class="neighbour_west1">></span></td>
					</tr>
					
					<tr>
						<td>CFV</td>

						<td><span id="user_CFV">></span></td>
					</tr>

				</table>

			</div>

		</div>

	</div>

			<div>
				<button class="print_form" class="btn v-top-20" style="float: right"
					onclick="printForm();">Print</button>

			</div>

</body>
</html>