<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>MAST</title>
</head>
<body>
	<div class="PrintWrapperLandScape">
		<div class="personalDetails-wrap">
			<div class="topInfo">
				<div class="row-fluid">
					<div class="span4">
						<p class="type1 text-left">
							<strong>Région de :<span class="text-org" id="_region"></span></strong>
						</p>
						<p class="type1 text-left">
							<strong>Province de : <span class="text-org" id="_province"></span></strong>
						</p>
						<p class="type2 text-left">
							<strong>Commune de : <span class="text-org commune"></span></strong>
						</p>
						<br>
						<p class="type1 text-left">
							<strong>Object :<span>Notification des frais de
									délivrance d'APFR</span></strong>
						</p>

					</div>
					<div class="span4">
						<div class="text-center commune_logo">
							<!-- <img src="resources/images/viewer/commune.jpg" /> -->
						</div>
					</div>
					<div class="span4">
						<p class="type1">
							<strong>Burkina Faso</strong>
						</p>
						<p class="type1">
							<strong>********</strong>
						</p>
						<p class="type1">Unité-Progrès-Justice</p>
					</div>
				</div>
				<p class="type1">
					Réf : demande N° <span class="application_no text-org"></span>
					en date du <span class="application_date text-org"></span>
				</p>
				<p class="type1">
					du village de <strong><span class="village"></span></strong>
				</p>
				<br>
				<p style="text-align: center; font-size: 14px;">Le Maire</p>
				<p style="text-align: center; font-size: 14px;">A</p>
				<p style="text-align: center; font-size: 14px;">
					Monsieur / Madame <span class="text-org" id="first_name"></span>&nbsp;<span class="text-org" id="last_name"></span>
				</p>
				<div class="row-fluid">
					<p>Monsieur / Madame,</p>
					<p>
						Suite à votre demande dont l'objet et les référennces sont
						susmentionnés, et suivant le procès-verbal de la constatation de
						possession foncière rurale N° <span
							class="pv_no text-org"></span> En date du <span
							class="pv_date text-org"></span> Du village de <span
							class="village text-org"></span>
					</p>


					<p>
						J'ai l'honneur de vous inviter à bien vouloir payer à la casse du
						comptable de la commune de <span class="commune"></span>, la somme
						de ..................................... détaillée
						comme suite :
					</p>
					<table id="paymentTable" class="amendbeforeAfterTable">
						<tr>
							<td colspan="2">SUPERFICIE DE LA PARCELLE</td>
							<td colspan="2"> <span id="area_print"></span></td>
						</tr>
						<tr>
							<td></td>
							<td style="text-align: center;">Unité</td>
							<td style="text-align: center;">Cout unitaire</td>
							<td style="text-align: center;">Cout Total</td>
						</tr>
						<tr>
							<td>Imprimé de la demande</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Imprimé du PV de constation de possession foncière
								rurale</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Imprimé de la publicité</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Chemise cartonée</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Imprimé de l'attestation</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Droits d'inscription au registre</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="font-weight: bold;">Sous Total I</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Participation au frais de délimitations sur le terrain</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Taxe pour la délivrance de l'APFR</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td style="font-weight: bold;">Sous Total II</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td colspan="4"></td>
						</tr>
						<tr>
							<td style="font-weight: bold;">Total notification</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td colspan="4" style="text-align: center;">Répartition de
								la taxe de délivrance</td>
						</tr>
						<tr>
							<td>Pour la commune (75%)</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>Pour la region (25%)</td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td colspan="4"></td>
						</tr>
				<tr>
				<td colspan="2">
				<p>Ampliation : </p>
				<p>Service Foncier rural :</p>
				<p>Service comptable</p>
				</td>
				<td colspan="2">
				<p><span class="commune text-org"></span> le  <!-- <span text="letter_date" class="text-org"></span> --></p>
				<p></p>
				<p>Le Maire</p>
				</td>
				</tr>
						 
						
				
					</table>
				</div>
			</div>
		</div>
	</div>
<div>
		<button class="print_form" class="btn v-top-20" style="float: right"
			onclick="printForm();">Print</button>

	</div>
</body>
</html>