<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><title>MAST</title> </head><body> <div class="PrintWrapperLandScape">
	<div class="personalDetails-wrap" style="border: 3px solid #333; border-bottom: none;">
		<div class="topInfo" style="border-bottom: 3px solid #333;">
		   <img src="resources/images/header.jpg" />
		</div>

	
        	<div class="personalDetails alt">
                 <p class="type text-center" style="border-bottom: 2px solid #000; padding-bottom: 10px;"><strong>PLAN DE SITUATION</strong></p>
              <div class="map-container" style="border: 1px solid #333;">
              <div class="CCROMap-area1">
           <div id="area_map_url"></div>
              <img src="resources/images/compass.png" class="map-compass">
             
           </div>
              
              <p >Echelle <strong>1/100 000</strong></p>
              
              
              </div>
            </div>
            <div class="personalDetails alt">
            <div class="map-container">
          
      
      <p class="text-center"><strong>Système de coordonnées UTM WGS 1984 Zone 30N</strong></p>      
            </div>
</div>

		
	</div>


	
</div>
	<div>
		<button class="print_form" class="btn v-top-20" style="float: right"
			onclick="printForm();">Print</button>

	</div>

</body></html>