<div id="bookmarkFormDiv" style="visibility: hidden">
<!-- <style type="text/css">
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
</style> -->


<form class="cmxform" id="villageForm" action="" onsubmit="return false;">


<div  class="topmenu">
<a id="bookmark_btnNew" class="btn02" onclick="javascript:createEditVillage();"><span class="NewBTN langchange" key='New' >New</span></a>
<a id="bookmark_btnSave" class="btn02" onclick="javascript:saveVillage();"><span class="saveBTN langchange"  key='Save'>Save</span></a>
<a id="bookmark_btnBack" class="btn02" onclick="javascript:displayRefreshedVillage();"><span class="BackBTN langchange" key='Back'>Back</span></a>
</div>

<table id="bookmarkTable" class="tablesorter" cellpadding="0" cellspacing="0">

    <thead>
    
     <tr>
            <td colspan="9" class="project_cellpadtwo">
			
			
					<table width="100%" cellpadding="0" cellspacing="0" class="project_table_adjust">
                	<tr>
                    	<td class="project_cell_adjust styleForm">
						<label class="searchLbl langchange" key="Search">Search:</label>&nbsp;
						<input id="village_txtSearch"  name="village_txtSearch" value="" maxlength="30" size="30" type="text" />
							<button  class='langchange' key='Search' onclick="javascript:search('0');">Search</button>
						    <button class='langchange' key='Clear' value="Submit" onclick="displayRefreshedVillage();">Clear</button>
						</td>
                       </tr>
                </table>
			
            
            </td>
        </tr>
        <tr>
            <th class='langchange' key='Village_Name_En'>             
            </th>
            <th class='langchange' key='Village_Name_Fr'>
             </th>
             <th class='langchange' key='Commune_Province_ID'>
              </th >
			 <th class='langchange' key='Commune'>
              </th >
            <th class='langchange'  key='Cfv_agent'>
            </th> 
			 
             <th class="blanCell">&nbsp;</th>
			<th class="blanCell">&nbsp;</th>	
        </tr>
    </thead>
    <tbody id="BookmarksRowData">
        
    </tbody>
    
    
    <tfoot>

							<tr id="bookmark_pagerDiv" class="tblFooter">
									<td colspan="9">
									<div id="spatialunitDiv">
										<a href="javascript:previousRecords();"><img
											class="img-prev" src="resources/images/studio/previous.png"
											title="Previous" /></a> <input type="text" readonly="readonly"
											name="records_from" id="records_from" value=""
											class="input-medium"> To <input type="text"
											name="records_to" id="records_to" value=""
											class="input-medium" readonly="readonly"> Of <input
											type="text" name="records_all" id="records_all" value=""
											class="input-medium" readonly="readonly"><a
											href="javascript:nextRecords();"><img class="img-next"
											src="resources/images/studio/next.png" title="Next" /></a>
									</div>
								</td>
							</tr>
						</tfoot>
    
    
    
   </table>
    
	<div id="bookmark_accordion">
			<h3><a href="#">General</a></h3>
			<div style="height:250px">   

				<table id="bookmarkDetails" >
					<tbody id="bookmarkDetailsBody">
						
					</tbody>
				</table>
			</div>
	</div>
	
   <script id="BookmarkTemplate" type="text/x-jquery-tmpl">
        <tr>
            <td>
                ${villageName}
            </td>           
            <td>
                ${villageNameFr}
            </td>

             <td>
                ${commune.province.provinceName}
            </td>   

			<td>
                ${commune.communeName}
            </td>           
            <td>
                ${cfv_agent}
            </td> 
			       
            <td align="center">
				<a href="javascript:createEditVillage('${villageId}');"><img src="resources/images/studio/edit.png" title="Edit"/></a>
            </td>
           <td align="center">
				<a href="javascript:deleteVillage('${villageId}');"><img src="resources/images/studio/delete.png" title="Delete"/></a>
           </td>  	
           
        </tr>
 </script>
 <script id="BookmarkTemplateForm" type="text/x-jquery-tmpl">
        <tr>
    <td class="labelHeader langchange" key="Village_Name_En"></td>
    <td>
        <input type="hidden" name="hid_villageid" id="hid_villageid" value="${villageId}" />
		<input type="textbox" name="nameEn" id="nameEn" value="${villageName}"  maxlength="20" />        
    </td>    
    <td class="labelHeader langchange" key="Village_Name_Fr"></td>
    <td>
        <input type="textbox" name="nameFR" id="nameFR" value="${villageNameFr}" maxlength="20" />
    </td>
</tr>
<tr>
    <td class="labelHeader langchange" key="Cfv_agent"></td>
    <td>
        <input type="textbox" name="cfV_agent" id="cfV_agent" value="${cfv_agent}"  maxlength="20"/>
    </td>

    <td class="labelHeader langchange" key="Village_code"></td>
    <td>
        <input type="textbox" name="VillageCode" id="VillageCode" value="${village_code}" maxlength="20"/>
    </td>
</tr>

<tr>
    <td class="labelHeader langchange" key="Commune_Province_ID"></td>
    <td>
        
		<select name="province_id" id="province_id" onchange="getcommuneval(this);">
            <option  value="">Please Select</option>						       
        </select>
    </td>

   <td class="labelHeader langchange" key="Commune"></td>
    <td>
       <select name="commmune_id" id="commmune_id">
            <option  value="">Please Select</option>						       
        </select>
    </td>

    
</tr>

 </script>
    
</form>	
</div>


	<script type="text/javascript">
    function getcommuneval(sel) {
      
       
       getCommuneOnProvinceChange(sel.value);
       
       
       
    }
 </script>